/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
}

body{
    background-color: #edeef6;
    margin: 0px;
}

/* CONTAINER STYLING */
.container{
    /* border: 1px solid blue; */
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr 0.5fr;
}
#library {
    /* border: 1px solid black; */
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
}

/* HEADER STYLING */
.header {
    background-color: white;
    box-shadow: 3px 10px 10px -2px rgba(0,0,0,0.2);
    margin-bottom: 2%;
}

.header h1 {
    font-weight: bold;
    margin-left: 5%;
}

/* CARD STYLING */
.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    height: 200px;
    grid-template-columns: 1fr;
    gap: 5px;
    border-left: 10px solid burlywood;
    box-shadow: 3px 10px 10px -2px rgba(0,0,0,0.2);
}

.card p {
    margin: 0px;
}

/* BUTTON STYLING */
button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #39866e;
}

#delBtn {
    background: rgb(202, 98, 98);
}

#delBtn:hover {
    background-color: rgb(201, 77, 77);
}

#toggleBtn {
    background: rgb(125, 125, 214);
}

#toggleBtn:hover {
    background: rgb(99, 99, 212);
}

#closeModalBtn {
    background-color: rgb(124, 211, 121);
    font-size: 20px;
    width: 100px;
    justify-self: end;
}

#closeModalBtn:hover {
    background-color: rgb(72, 199, 68);
}

#addBookBtn {
    font-size: 20px;
    width: 80%;
    justify-self: center;
}

/* MODAL STYLING */
.modal-container{
    display: none;
}

.modal-container.show{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

/* FORM STYLING */

#myForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.form-item.btn {
    grid-column: 1/3;
}

.form-item.field {
    text-align: start;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* FOOTER STYLING */
footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.423);
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.423);
}

a:hover{
    color: black;
}